@charset "UTF-8";
/* Variables */
/* mobile HEADER */
header {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(white, transparent);
}

/* desktop HEADER */
@media (min-width: 1024px) {
  header {
    position: fixed;
    width: 100%;
    height: 100px;
    align-content: center;
    margin: auto;
    top: 0;
    background-image: linear-gradient(white, white, transparent);
  }
  header h1 {
    margin: 0;
  }
}
/* mobile MENU */
#menu-toggle {
  display: none;
}

.menu-icon {
  font-family: "Afacad", sans-serif;
  margin: auto;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  transition-duration: 0.4s;
  color: #9C1F4D;
  background-color: transparent;
  border: 2px solid #9C1F4D;
  border-radius: 32px;
  cursor: pointer;
}

#menu {
  background-color: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  font-size: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Afacad", sans-serif;
  font-weight: 500;
}
#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu ul li {
  margin: 2px 0;
}
#menu ul li a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: #9C1F4D;
  margin: 20px;
}
#menu ul li a:hover {
  background-color: #9C1F4D;
  color: white;
  transition-duration: 0.4s;
}

#menu-toggle:checked + label + #menu {
  display: flex;
}

/* desktop MENU */
@media (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
  #menu {
    background: none;
    backdrop-filter: none;
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 0.8em;
  }
  #menu ul {
    flex-direction: row;
    justify-content: center;
    padding: auto;
    margin: auto;
  }
  #menu ul li {
    margin: 0;
  }
  #menu ul li a {
    display: inline-flex;
    padding: 5px 50px;
    margin: 0;
    color: #9C1F4D;
    border-color: #9C1F4D;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
  }
  #menuHome {
    border-radius: 20px 0 0 20px;
  }
  #menuAboutme {
    border-radius: 0 20px 20px 0;
  }
}
/* mobile MAIN */
main {
  width: 100%;
  margin: auto;
  align-content: center;
  justify-content: center;
  height: auto;
  padding: 20px;
  position: relative;
}
main .titulo h1 {
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}
main p {
  font-family: "Afacad", sans-serif;
  font-weight: lighter;
  text-align: justify;
  font-size: 1.2em;
}
main ul {
  font-family: "Afacad", sans-serif;
}
main li::marker {
  color: #9C1F4D;
}
main h3 {
  font-size: 1.5em;
}
main span {
  font-weight: bold;
}

/* desktop MAIN */
@media (min-width: 1024px) {
  main {
    top: 100px;
    margin: auto;
    width: 70%;
    height: calc(100vh - 300px);
  }
}
/* mobile GALLERY */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.gallery div {
  background: #3a3f51;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: space-around;
  height: max-content;
}
.gallery div video,
.gallery div img {
  object-fit: contain;
  width: 100%;
  height: auto;
  display: block;
}

/* desktop GALLERY */
@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* mobile FOOTER */
footer {
  width: 100%;
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Afacad", sans-serif;
  font-size: 1em;
}
footer .content {
  width: 90%;
  align-content: center;
}
footer .content form fieldset {
  border: none;
}
footer .content form fieldset input,
footer .content form fieldset textarea {
  width: 100%;
  border-style: none none solid none;
  border-width: 1px;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px 0;
}
footer .content form fieldset input[type=submit] {
  margin: auto;
  padding: 8px 16px;
  text-align: center;
  display: block;
  transition-duration: 0.4s;
  color: #9C1F4D;
  background-color: transparent;
  border: 2px solid #9C1F4D;
  border-radius: 32px;
  cursor: pointer;
  font-weight: 500;
}
footer .content form fieldset input[type=submit]:hover {
  background-color: #9C1F4D;
  color: white;
}
footer .rrss {
  width: 100%;
  height: 20%;
  justify-content: space-around;
  align-content: center;
}
footer .rrss img {
  height: 30px;
}
footer .legal {
  align-content: center;
}

/* desktop FOOTER */
@media (min-width: 1024px) {
  footer {
    height: 300px;
    width: 100%;
    position: relative;
    bottom: -300px;
    font-size: 1em;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
  }
  footer .content {
    width: 30vw;
  }
  footer fieldset {
    width: 90%;
    margin: auto;
    border: none;
    justify-content: left;
  }
  footer fieldset input,
  footer fieldset textarea {
    background-color: transparent;
    color: #fff;
  }
  footer .rrss {
    width: 30vw;
    margin: auto;
    justify-content: space-evenly;
  }
  footer .rrss img {
    height: 30px;
    filter: invert(1);
  }
  footer .legal {
    width: 30vw;
    margin: auto;
    align-items: center;
  }
  footer .legal a:link {
    text-decoration: none;
  }
  footer .legal a:visited {
    text-decoration: none;
  }
  footer .legal a:hover {
    text-decoration: underline;
  }
  footer .legal a:active {
    text-decoration: underline;
  }
}
/* mobile HOME */
.index {
  height: calc(100vh - 100px);
}

#erickrdz {
  text-align: center;
  font-family: "Kaisei Decol", serif;
  font-size: 4em;
  font-weight: 100;
  line-height: 0%;
}

#firma {
  text-align: center;
  font-family: "Afacad", sans-serif;
  font-size: 1.2em;
  font-weight: 100;
}

/* desktop HOME */
@media (min-width: 1024px) {
  #erickrdz {
    font-size: 7em;
  }
  #firma {
    font-size: 1.8em;
  }
}
/* mobile SOBRE MI */
.aboutme {
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.aboutme p {
  font-family: "Afacad", sans-serif;
  font-weight: lighter;
  text-align: justify;
  font-size: 1.2em;
}
.aboutme .foto {
  grid-area: foto;
  align-content: center;
}
.aboutme .foto img {
  max-width: 100%;
  height: auto;
}
.aboutme .cita {
  font-style: italic;
  column-span: all;
  text-align: center;
}

/* desktop SOBRE MI */
@media (min-width: 1024px) {
  .aboutme {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "bio foto" ". ." "cita cita";
  }
  .aboutme .bio {
    grid-area: bio;
    align-content: center;
  }
  .aboutme .foto {
    grid-area: foto;
  }
  .aboutme .cita {
    grid-area: cita;
    padding: 30px;
    align-content: center;
  }
}
/* mobile PROYECTO */
.esposas .stills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.esposas .stills img {
  width: 100%;
}
.esposas p {
  padding: 30px;
  font-family: "Afacad", sans-serif;
  font-weight: lighter;
  text-align: justify;
  font-size: 1.3em;
}
.esposas .ficha {
  height: 100vh;
  align-content: center;
}
.esposas .ficha .info {
  text-align: center;
  padding: 5px;
}
.esposas .ficha h3 {
  font-family: "Afacad", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}
.esposas .ficha h2 {
  font-family: "Afacad", sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 0%;
}
.esposas .laureles {
  width: 80vw;
  justify-content: center;
  margin: auto;
}
.esposas .laureles img {
  display: block;
  margin: auto;
  height: 100px;
  line-height: 0%;
}
.esposas .laureles h3 {
  font-family: "Afacad", sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}
.esposas .laureles h4 {
  font-family: "Afacad", sans-serif;
  font-weight: lighter;
  font-size: 1em;
  text-align: center;
}

/* desktop PROYECTO */
@media (min-width: 1024px) {
  .esposas {
    height: auto;
  }
  .esposas .ficha,
  .esposas .laureles {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
  }
  .esposas .ficha .festival,
  .esposas .laureles .festival {
    justify-content: center;
    width: 30%;
    margin: 20px 0;
  }
}
/* mobile AVISO */
.avisoPrivacidad {
  height: auto;
}

/* Estilos base para dispositivos móviles (mobile-first) */
html,
body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Kaisei Decol", serif;
  background-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  margin: auto;
  padding: 8px 16px;
  text-align: center;
  display: block;
  transition-duration: 0.4s;
  color: #9C1F4D;
  background-color: transparent;
  border: 2px solid #9C1F4D;
  border-radius: 32px;
  cursor: pointer;
  font-weight: 500;
}
button:hover {
  background-color: #9C1F4D;
  color: white;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
