/* Variables */
$primary-color: #9C1F4D;
$background-color: rgba(245, 245, 245, 0.8);
$main-height: calc(100vh - 100px);
$font-sans-serif: "Afacad", sans-serif;
$font-serif: "Kaisei Decol", serif;

/* Estilos base para dispositivos móviles (mobile-first) */
html,
body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $font-serif;
    background-color: transparent;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, transparent);
}

/* MENÚ */
#menu-toggle {
    display: none;
}

.menu-icon {
    font-family: $font-sans-serif;
    margin: auto;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition-duration: 0.4s;
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 32px;
    cursor: pointer;
}

#menu {
    background-color: $background-color;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-sans-serif;
    font-weight: 500;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin: 2px 0;

            a {
                text-decoration: none;
                padding: 10px;
                display: inline-block;
                color: $primary-color;
                margin: 20px;

                &:hover {
                    background-color: $primary-color;
                    color: white;
                    transition-duration: 0.4s;
                }
            }
        }
    }
}

#menu-toggle:checked+label+#menu {
    display: flex;
}

/* MAIN */
main {
    width: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    position: relative;
}

.index {
    height: $main-height;
}

#erickrdz {
    text-align: center;
    font-family: $font-serif;
    font-size: 4em;
    font-weight: 100;
    line-height: 0%;
}

#firma {
    text-align: center;
    font-family: $font-sans-serif;
    font-size: 1.2em;
    font-weight: 100;
}

button {
    margin: auto;
    padding: 8px 16px;
    text-align: center;
    display: block;
    transition-duration: 0.4s;
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 500;

    &:hover{
        background-color: $primary-color;
        color: white;
    }
}

a{
    text-decoration: none;
}

/* PORTAFOLIO and LAB */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    div {
        background: #3a3f51;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: start;
        justify-content: space-around;
        height: max-content;

        video,
        img {
            object-fit: contain;
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

#lab,
#portfolio,
#proyectoA {
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
    line-height: 2em;
}

/* SOBRE MI */
.aboutme {
    display: flex;
    flex-flow: column;
    padding: 20px;

    h1 {
        font-size: 3em;
        font-weight: lighter;
        text-align: center;
    }

    p {
        font-family: $font-sans-serif;
        font-weight: lighter;
        text-align: justify;
        font-size: 1.2em;
    }

    .foto img {
        max-width: 100%;
        height: auto;
    }

    .foto {
        grid-area: foto;
        align-content: center;
    }

    .cita {
        font-style: italic;
        column-span: all;
        text-align: center;
    }
}

/* PROYECTO */
.proyectoA {
    .stills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        img {
            width: 100%;
        }
    }

    p {
        padding: 30px;
        font-family: $font-sans-serif;
        font-weight: lighter;
        text-align: justify;
        font-size: 1.3em;
    }

    .ficha {
        height: 100vh;
        align-content: center;

        .info {
            text-align: center;
            padding: 5px;
        }

        h3 {
            font-family: $font-sans-serif;
            font-weight: 600;
            font-size: 1.2em;
        }

        h4 {
            font-family: $font-sans-serif;
            font-weight: lighter;
            font-size: 1.2em;
            line-height: 0%;
        }
    }

    .laureles {
        width: 80vw;
        justify-content: center;

        img {
            width: 70%;
            line-height: 0%;
        }

        h3 {
            font-family: $font-sans-serif;
            font-weight: 600;
            font-size: 1em;
            text-align: center;
        }

        h4 {
            font-family: $font-sans-serif;
            font-weight: lighter;
            font-size: 1em;
            text-align: center;
        }
    }
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    line-height: 0;
    background-image: linear-gradient(transparent, white, white);
    width: 100%;
    height: 150px;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: auto;

    .dropdown {
        margin: 10px 0;
        display: inline-block;

        .content {
            display: none;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 100%;
            align-content: center;
            color: $primary-color;
            padding: 20px;
            border-radius: 5px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            margin: auto;
            background-color: $background-color;
            backdrop-filter: blur(5px);

            form {

                input,
                textarea {
                    width: calc(100% - 20px);
                    margin: 5px 0;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }

                input[type="submit"] {
                    margin: 10px auto;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: block;
                    transition-duration: 0.4s;
                    color: $primary-color;
                    background-color: transparent;
                    border: 2px solid $primary-color;
                    border-radius: 32px;
                    cursor: pointer;
                }
            }
        }

        &:hover .content {
            display: block;
        }
    }
}

/* Media Queries para computadoras de escritorio */
@media (min-width: 1024px) {
    header {
        position: fixed;
        width: 100%;
        height: 100px;
        align-content: center;
        margin: auto;
        top: 0;
        background-image: linear-gradient(white, white, transparent);

        h1 {
            margin: 0;
        }
    }

    .menu-icon {
        display: none;
    }

    main {
        top: 100px;
        margin: auto;
        width: 70%;
        height: $main-height;
    }

    #erickrdz{
        font-size: 7em;
    }

    #firma{
        font-size: 1.8em;
    }

    #menu {
        background: none;
        backdrop-filter: none;
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        font-size: 0.8em;

        ul {
            flex-direction: row;
            justify-content: center;
            padding: auto;
            margin: auto;

            li {
                margin: 0;

                a {
                    display: inline-flex;
                    padding: 5px 50px;
                    margin: 0;
                    color: $primary-color;
                    border-color: $primary-color;
                    border-width: 2px;
                    border-style: solid;
                    text-decoration: none;
                }
            }
        }
    }

    #menuHome {
        border-radius: 20px 0 0 20px;
    }

    #menuAboutme {
        border-radius: 0 20px 20px 0;
    }

    .aboutme {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "bio foto"
            ". ."
            "cita cita";

        h1 {
            font-size: 3em;
            font-weight: lighter;
            text-align: center;
        }

        p {
            font-family: $font-sans-serif;
            font-weight: lighter;
            text-align: justify;
        }

        .bio {
            grid-area: bio;
            align-content: center;
        }

        .foto{
            grid-area: foto;
        }

        .cita {
            grid-area: cita;
            padding: 30px;
            align-content: center;
        }

        span{
            font-weight: bold;
        }
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .proyectoA {
        .ficha, 
        .laureles {
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;

            img {
                width: 150px;
            }
        } 
        
    }

    footer {
        bottom: -100px;
        width: 100%;
        font-size: 14px;
        margin: auto;

        .dropdown .content {
            width: 70%;
        }
    }
}