@import "variables";

@import "layout/header";
@import "layout/navigation";
@import "layout/main";
@import "layout/gallery";
@import "layout/footer";

@import "views/home";
@import "views/about";
@import "views/esposas";
@import "views/aviso";


/* Estilos base para dispositivos móviles (mobile-first) */
html,
body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $font-serif;
    background-color: transparent;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    margin: auto;
    padding: 8px 16px;
    text-align: center;
    display: block;
    transition-duration: 0.4s;
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background-color: $primary-color;
        color: white;
    }
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}