/* Variables */
$primary-color: #9C1F4D;
$background-color: rgba(245, 245, 245, 0.8);
$main-height: calc(100vh - 300px);
$font-sans-serif: "Afacad", sans-serif;
$font-serif: "Kaisei Decol", serif;

/* Estilos base para dispositivos móviles (mobile-first) */
html,
body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $font-serif;
    background-color: transparent;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* mobile HEADER */
header {
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(white, transparent);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-family: $font-sans-serif;
    margin: auto;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition-duration: 0.4s;
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 32px;
    cursor: pointer;
}

#menu {
    background-color: $background-color;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-sans-serif;
    font-weight: 500;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin: 2px 0;

            a {
                text-decoration: none;
                padding: 10px;
                display: inline-block;
                color: $primary-color;
                margin: 20px;

                &:hover {
                    background-color: $primary-color;
                    color: white;
                    transition-duration: 0.4s;
                }
            }
        }
    }
}

#menu-toggle:checked+label+#menu {
    display: flex;
}

/* mobile MAIN */
main {
    width: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    position: relative;

    .titulo {
        h1 {
            font-size: 3em;
            font-weight: lighter;
            text-align: center;
        }
    }

    p {
        font-family: $font-sans-serif;
        font-weight: lighter;
        text-align: justify;
        font-size: 1.2em;
    }

    ul {
        font-family: $font-sans-serif;
    }

    li::marker {
        color: $primary-color
    }

    h3 {
        font-size: 1.5em;
    }

    span {
        font-weight: bold;
    }
}

button {
    margin: auto;
    padding: 8px 16px;
    text-align: center;
    display: block;
    transition-duration: 0.4s;
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background-color: $primary-color;
        color: white;
    }
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}

/* mobile HOME */
.index {
    height: $main-height;
}

#erickrdz {
    text-align: center;
    font-family: $font-serif;
    font-size: 4em;
    font-weight: 100;
    line-height: 0%;
}

#firma {
    text-align: center;
    font-family: $font-sans-serif;
    font-size: 1.2em;
    font-weight: 100;
}

/* mobile PORTAFOLIO and LAB */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    div {
        background: #3a3f51;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: start;
        justify-content: space-around;
        height: max-content;

        video,
        img {
            object-fit: contain;
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

/* mobile SOBRE MI */
.aboutme {
    display: flex;
    flex-flow: column;
    padding: 20px;

    p {
        font-family: $font-sans-serif;
        font-weight: lighter;
        text-align: justify;
        font-size: 1.2em;
    }

    .foto {
        grid-area: foto;
        align-content: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .cita {
        font-style: italic;
        column-span: all;
        text-align: center;
    }
}

/* mobile PROYECTO */
.esposas {
    .stills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        img {
            width: 100%;
        }
    }

    p {
        padding: 30px;
        font-family: $font-sans-serif;
        font-weight: lighter;
        text-align: justify;
        font-size: 1.3em;
    }

    .ficha {
        height: 100vh;
        align-content: center;

        .info {
            text-align: center;
            padding: 5px;
        }

        h3 {
            font-family: $font-sans-serif;
            font-weight: 600;
            font-size: 1.2em;
        }

        h2 {
            font-family: $font-sans-serif;
            font-weight: lighter;
            font-size: 1.2em;
            line-height: 0%;
        }
    }

    .laureles {
        width: 80vw;
        justify-content: center;
        margin: auto;

        img {
            display: block;
            margin: auto;
            height: 100px;
            line-height: 0%;
        }

        h3 {
            font-family: $font-sans-serif;
            font-weight: 600;
            font-size: 1em;
            text-align: center;
        }

        h4 {
            font-family: $font-sans-serif;
            font-weight: lighter;
            font-size: 1em;
            text-align: center;
        }
    }
}

/* mobile AVISO */
.avisoPrivacidad {
    height: auto;
}

/* mobile FOOTER */
footer {
    width: 100%;
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-sans-serif;
    font-size: 1em;

    .content {
        width: 90%;
        align-content: center;

        form {
            fieldset {
                border: none;

                input,
                textarea {
                    width: 100%;
                    border-style: none none solid none;
                    border-width: 1px;
                    text-decoration: none;
                    margin: 5px 0;
                    padding: 5px 0;
                }

                input[type=submit] {
                    margin: auto;
                    padding: 8px 16px;
                    text-align: center;
                    display: block;
                    transition-duration: 0.4s;
                    color: $primary-color;
                    background-color: transparent;
                    border: 2px solid $primary-color;
                    border-radius: 32px;
                    cursor: pointer;
                    font-weight: 500;

                    &:hover {
                        background-color: $primary-color;
                        color: white;
                    }
                }
            }
        }
    }

    .rrss {
        width: 100%;
        height: 20%;
        justify-content: space-around;
        align-content: center;

        img {
            height: 30px;
        }
    }

    .legal {
        align-content: center;
    }
}

/* Media Queries para computadoras de escritorio */
@media (min-width: 1024px) {

    /* desktop HEADER */
    header {
        position: fixed;
        width: 100%;
        height: 100px;
        align-content: center;
        margin: auto;
        top: 0;
        background-image: linear-gradient(white, white, transparent);

        h1 {
            margin: 0;
        }
    }

    .menu-icon {
        display: none;
    }

    #menu {
        background: none;
        backdrop-filter: none;
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        font-size: 0.8em;

        ul {
            flex-direction: row;
            justify-content: center;
            padding: auto;
            margin: auto;

            li {
                margin: 0;

                a {
                    display: inline-flex;
                    padding: 5px 50px;
                    margin: 0;
                    color: $primary-color;
                    border-color: $primary-color;
                    border-width: 2px;
                    border-style: solid;
                    text-decoration: none;
                }
            }
        }
    }

    #menuHome {
        border-radius: 20px 0 0 20px;
    }

    #menuAboutme {
        border-radius: 0 20px 20px 0;
    }

    /* desktop MAIN */
    main {
        top: 100px;
        margin: auto;
        width: 70%;
        height: $main-height;
    }

    /* desktop HOME */
    #erickrdz {
        font-size: 7em;
    }

    #firma {
        font-size: 1.8em;
    }

    /* desktop SOBRE MI */
    .aboutme {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "bio foto"
            ". ."
            "cita cita";

        .bio {
            grid-area: bio;
            align-content: center;
        }

        .foto {
            grid-area: foto;
        }

        .cita {
            grid-area: cita;
            padding: 30px;
            align-content: center;
        }
    }

    /* desktop PORTAFOLIO and LAB */
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    /* desktop PROYECTO */
    .esposas {
        height: auto;

        .ficha,
        .laureles {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: auto;
            margin-bottom: 30px;

            .festival {
                justify-content: center;
                width: 30%;
                margin: 20px 0;
            }
        }
    }

    /* desktop FOOTER */
    footer {
        height: 300px;
        width: 100%;
        position: relative;
        bottom: -300px;
        font-size: 1em;
        margin: auto;
        display: flex;
        flex-direction: row;
        background-color: #000;
        color: #fff;

        .content {
            width: 30vw;
        }

        fieldset {
            width: 90%;
            margin: auto;
            border: none;
            justify-content: left;

            input,
            textarea {
                background-color: transparent;
                color: #fff;
            }
        }

        .rrss {
            width: 30vw;
            margin: auto;
            justify-content: space-evenly;

            img {
                height: 30px;
                filter: invert(1);
            }
        }

        .legal {
            width: 30vw;
            margin: auto;
            align-items: center;

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            a:active {
                text-decoration: underline;
            }
        }
    }
}