/* mobile HOME */
.index {
    height: calc(100vh - 100px);
}

#erickrdz {
    text-align: center;
    font-family: $font-serif;
    font-size: 4em;
    font-weight: 100;
    line-height: 0%;
}

#firma {
    text-align: center;
    font-family: $font-sans-serif;
    font-size: 1.2em;
    font-weight: 100;
}

/* desktop HOME */
@media (min-width: 1024px) {    
    #erickrdz {
        font-size: 7em;
    }

    #firma {
        font-size: 1.8em;
    }
}